# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
node_modules
# C extensions
*.so
.vscode
# Distribution / packaging
.Python
logs
wheels/
pip-wheel-metadata/
share/python-wheels/
*.log
# Environments
.env
# Mongo DB
/mdbcluster